<!--<div class="row padding ad">
  <figure class="ad-media">
    <a href="//h4ckademy.com/?ref=carlosazaustre">
      <img src="//blog.h4ckademy.com/content/images/2015/01/logo384-new-2.png" alt="H4ckademy" />
    </a>
  </figure>
  <div class="ad-description">
    <h4><a href="//h4ckademy.com/?ref=carlosazaustre">H4ckademy</a></h4>
    <small>
9 weeks immersive code retreat to improve your coding skills. <span class="desktop">Kick-off on June 22nd 2015 at <a href="//campus.co/madrid">Campus Madrid</a></span>
    </small>
  </div>
</div>-->
