<nav class="navbar">
  <div class="navbar-content site_width">
    <div class="blog-info">
      <div class="author title">
        <img src="https://s3-eu-west-1.amazonaws.com/carlosazaustre-blog/carlos-azaustre-desarrollo-y-formacion-web.png" alt="Carlos Azausrte | Formacion Web y Desarrollo JavaScript" class="border circle inline" />
        <a class="text bold" href="//carlosazaustre.es/blog/">Carlos Azaustre &nbsp; <span class="text-orange">Desarrollador Web</span></a>
      </div>
      <ul>
        <li><a href="//carlosazaustre.es/blog/sobre-mi">Sobre Mi</a></li>
        <li><a href="//carlosazaustre.es/blog/curriculum">CV</a></li>
        <li><a href="//carlosazaustre.es/blog/ebook-angular">Libros</a></li>
        <li><a href="//carlosazaustre.es/blog/formacion-para-empresas">Formación</a></li>
      </ul>
    </div>
  </div>
</nav>
