<nav class="navbar">
  <div class="navbar-content">
    <div class="blog-info">
      <div class="author title">
        <img src="{{@blog.logo}}" alt="Author image" class="border circle inline" />
        <a class="text bold" href="{{@blog.url}}">Carlos Azaustre &nbsp; <span class="text-orange">Desarrollador Web</span></a>
      </div>
      <ul>
        <li><a href="//carlosazaustre.es/hola">Sobre Mi</a></li>
        <li><a href="//carlosazaustre.es/cv">CV</a></li>
        <li><a href="//carlosazaustre.es/libros">Libros</a></li>
        <li><a href="//carlosazaustre.es/formacion">Formación</a></li>
        <li><a href="//carlosazaustre.es/contacto">Contacto</a></li>
        <li><a href="//carlosazaustre.es/camisetas">Camisetas</a></li>
      </ul>
    </div>
  </div>
</nav>
