<div id="newsletter" class="ui piled center aligned segment">
  <form action="//carlosazaustre.us6.list-manage.com/subscribe/post?u=f03c243e4abc9f550757789bc&amp;id=bde03e7057" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="ui form validate" target="_blank" novalidate>
    <div class="ui centered">

      <i class="huge mail outline icon"></i>
      <h2 class="ui header">
        <div class="content">
          ¡No te pierdas ningún tutorial!
          <div class="sub header">
            Si quieres recibir en tu email antes que nadie las noticias que se cuecen en este blog, sólo tienes que dejar tu dirección de correo electrónico.
          </div>
        </div>
      </h2>

      <div class="ui fluid input">
        <input type="email" name="EMAIL" class="inline field" id="mce-EMAIL" placeholder="Tu dirección de email..." required>
      </div>
      <br>
      <div class="ui fluid grid">
        <button type="submit" class="ui orange inverted button column four wide centered" name="subscribe" id="mc-embedded-subscribe">Quiero suscribirme</button>
      </div>
      <br>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_f03c243e4abc9f550757789bc_bde03e7057" tabindex="-1" value=""></div>
    </div>
  </form>
</div>
