<section class="padding">
  <header class="list-sections-header">
    <h4>¿Qué quieres aprender hoy?</h4>
  </header>
  <ul class="list-sections">
    <li><a href="/blog/tag/node-js" title="Tutoriales sobre NodeJS">
      <img
        src="https://s3-eu-west-1.amazonaws.com/carlosazaustre-blog/desarrollo-web-seccion-node_mobile.png"
        srcset="https://s3-eu-west-1.amazonaws.com/carlosazaustre-blog/desarrollo-web-seccion-node.png 2x"
        alt="Tutoriales sobre NodeJS"
      />
    </a></li>
    <li><a href="/blog/tag/angular-js" title="Tutoriales sobre AngularJS">
      <img
        src="https://s3-eu-west-1.amazonaws.com/carlosazaustre-blog/desarrollo-web-seccion-angular_mobile.png"
        srcset="https://s3-eu-west-1.amazonaws.com/carlosazaustre-blog/desarrollo-web-seccion-angular.png 2x"
        alt="Tutoriales sobre AngularJS"
      />
    </a></li>
    <li><a href="/blog/tag/react-js" title="Tutoriales sobre ReactJS">
      <img
        src="https://s3-eu-west-1.amazonaws.com/carlosazaustre-blog/desarrollo-web-seccion-react_mobile.png"
        srcset="https://s3-eu-west-1.amazonaws.com/carlosazaustre-blog/desarrollo-web-seccion-react.png 2x"
        alt="Tutoriales sobre ReactJS"
      />
    </a></li>
    <li><a href="/blog/tag/javascript" title="Tutoriales sobre JavaScript">
      <img
        src="https://s3-eu-west-1.amazonaws.com/carlosazaustre-blog/desarrollo-web-seccion-javascript_mobile.png"
        srcset="https://s3-eu-west-1.amazonaws.com/carlosazaustre-blog/desarrollo-web-seccion-javascript.png 2x"
        alt="Tutoriales sobre JavaScript"
      />
    </a></li>
  </div>
</section>
